*, *::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: "Inconsolata";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.43;
    background-color: rgb(183, 226, 228);
}
body {
    display: block;
    margin: 8px;
}
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body::backdrop {
    background-color: #fafafa;
}
.principal_main_header{
    text-align: center;
}
main{
    display: block;
}
@media(min-width: 600px){
    .maxwi_root{
        max-width: 600px;
    }
}
.container_root{
    padding-left: 0;
    padding-right: 0;
}
@media(min-width: 600px){
    .element_root{
        padding-left: 24px;
        padding-right: 24px;
    }
}
.element_root{
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.header_principal{
    position: relative;
}
.division-1header{
    position: relative;
    top: 0;
    left: 0;
    height: 135px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;
    background-color: #cad7ca;
}

.division-1header img{
    justify-content:space-between;
}
.division-2header{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
}
.divisiones-2header_content{
    margin-bottom: 1rem;
    display: flex;
}
.foto_empresa_logo{
    margin-top: -20px;
    width: 90px;
    min-width: 90px;
    height: 90px;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 0 2px rgb(52 58 67 / 10%), 0 5px 10px rgb(52 58 67 / 8%), 0 15px 35px rgb(52 58 67 / 8%);
    background-color: rgb(190, 42, 42);
}
.foto_empresa_logo img{
object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    line-height: 0;
}
.name_bussines{
    margin-left: .75rem;
}
.name_bussines h1{
    font-size: 1.75rem;
    font-family: "Inconsolata";
    font-weight: 400;
    line-height: 1.2;
}
.name_shop{
margin-bottom: 0.35em;
}
.categoria_menu{
    overflow: hidden;
    position: relative;
}
.categoria_iconos{
    padding-top: 1rem;
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
}
.iconos{
    margin-left: 1rem;
}
.categoria_producto{
    position: relative;
    width: 84px;
    height: 84px;
}
.imagen_categoria{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: #f5f5f5;
    object-fit: cover;
    box-shadow: 0 0 2px rgb(52 58 67 / 10%), 0 2px 5px rgb(52 58 67 / 8%), 0 5px 15px rgb(52 58 67 / 8%);
}
.description_categoria{
    font-size: 0.875rem;
    font-family: "Bariol",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.66;
}
